.searchfilter { margin:10px 0px 0px; padding:0px; background-color:#BBDBF7; 
/*-moz-border-radius: 6px;
-webkit-border-radius: 6px;*/}


.searchfilter h5 { font:bold 14px/18px Tahoma, Geneva, sans-serif; padding:5px; color:#fff; }
.searchfilter form { background-color:#EAEEF9;}
.searchfilter p {}
.dashed-border-btm { border-bottom:1px dashed #515357; padding-bottom:2px; margin-bottom:4px;}
.greytxt { color:#ccc;}

.searchfilter form div.block1 { border-bottom:1px solid #ccc; padding:10px 5px;}
.searchfilter form div.block1 h5 { font-weight:bold; color:#515357; padding:0 0 5px;}

.searchfilter form div.block1 .stop  { overflow:hidden;}
.searchfilter form div.block1 .stop div { float:left; width:auto; margin-right:3px; }
.searchfilter form div.block1 .stop div label { float:right; width:10px; padding:0px 0px 0px 2px;}

.searchfilter form div.block1 .airlines  { overflow:hidden;}
.searchfilter form div.block1 .airlines div { width:auto; padding:2px 0px;}
.searchfilter form div.block1 .airlines div label { width:10px; padding:0px 0px 0px 2px;}
.searchfilter form div.block1 .airlines div input { float:left; margin-right:3px; color:#000}


.searchfilter form div.block1 .layover-airports  { overflow:hidden;}
.searchfilter form div.block1 .layover-airports div { width:auto; padding:2px 0px;}
.searchfilter form div.block1 .layover-airports div label { width:10px; padding:0px 0px 0px 2px; font:11px Tahoma, Geneva, sans-serif;}
.searchfilter form div.block1 .layover-airports div input { float:left; margin-right:3px; color:#000}
