<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection" requirePermission="false" allowLocation="true" />
    <section name="logConfiguration" type="ATLTravelPortal.Services.Logging.LogConfigurationSection" />
    <section name="gds" type="Galileo.Configuration.GDSConfig, Galileo" />
    <section name="EmailConfiguration" type="ATLTravelPortal.Configuration.EmailConfiguration" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Galileo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="AirSearchDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    </sectionGroup>
    <section name="AbacusAuth" type="Abacus.Configuration.AbacusAuthDetails, Abacus" />
    <section name="TBOAirSetting" type="TBO.Configuration.TBOSettingDetail, TBO" />
    <section name="TaskShedulerConfiguration" type="ATLTravelPortal.Configuration.TaskShedulerConfiguration" />
    
    
    <sectionGroup name="domesticflights">
      <section name="buddhaAir" type="DomesticFlights.Credentials.BuddhaAir.BuddhaAirConfig, DomesticFlights" allowLocation="true" allowDefinition="Everywhere" />
      <section name="yetiAirlines" type="DomesticFlights.Credentials.YetiAirlines.YetiAirlineConfig, DomesticFlights" allowLocation="true" allowDefinition="Everywhere" />
      <section name="GunaAir" type="DomesticFlights.Credentials.BuddhaAir.BuddhaAirConfig, DomesticFlights" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>

    <section name="TrainSetting" type="System.Configuration.NameValueSectionHandler" />

  </configSections>
  <TrainSetting>
    <add key="PNRLocation" value="D:\TrainPNR" />
    <add key="PNRFileFormat" value=".PNG,.JPG,.pdf,.JPEG" />
    <add key="ExchangeRate" value="1.6015" />
  </TrainSetting>
  <TBOAirSetting UserName="arihant" Password="travel123" AccountCode="" SiteName="" ServiceType="Copy" ReturnLCC="true" ReturnNonLCC="true" />
  <gds>
    <galileo>
      <agencydetail agencyname="ARIHANT" pcc="12345" />
      <auth username="GWS/PCC6H3Z" password="Arihant6h3z" profilekey="DynGalileoCopy_6h3w"></auth>
      <endpoints active="copy">
        <clear />
        <add name="copy" link="https://americas.copy-webservices.travelport.com/B2BGateway/service/XMLSelect" />
        <add name="profile" link="http://twsprofiler.travelport.com/Service/Default.ashx" />
        <add name="prod" link="https://apac.webservices.travelport.com/B2BGateway/service/XMLSelect" />
      </endpoints>
      <cacheconfig usecache="true" />
      <env Environment="DEV" />
    </galileo>
  </gds>


  <domesticflights>
    <buddhaAir>
      <auth UserName="PAD139" PassWord="pl@12" />
      <service ServiceType="Prod" Environment="DEV" />
      <LoginUrl Link="http://202.63.242.14/buddhaair/v2agent037/loginagent.jsp" />
      <SearchUrl Link="http://202.63.242.14/buddhaair/v2agent037/left.jsp" />
      <RecheckPasswordUrl Link="http://202.63.242.14/buddhaair/v2agent037/rechkpwd.jsp" />
      <FareUrl Link="http://202.63.242.14/buddhaair/v2agent037/fare.jsp?{0}" />
    </buddhaAir>
    <GunaAir>
      <auth UserName="GN0724" PassWord="Travel" />
      <service ServiceType="Prod" Environment="DEV" />
      <LoginUrl Link="http://202.63.245.226/gunaairlines/v2agent037/loginagent.jsp" />
      <SearchUrl Link="http://202.63.245.226/gunaairlines/v2agent037/left.jsp" />
      <RecheckPasswordUrl Link="http://202.63.245.226/gunaairlines/v2agent037/rechkpwd.jsp" />
      <!--<RecheckPasswordUrl Link="http://202.63.245.226/gunaairlines/v2agent037/frame.jsp"/>-->
      <FareUrl Link="http://202.63.245.226/gunaairlines/v2agent037/fare.jsp?{0}" />
    </GunaAir>
    <yetiAirlines>
      <auth UserName="TRAPLA" PassWord="TVPL-TT" />
      <service ServiceType="Prod" Environment="DEV" />
      <LoginUrl Link="http://resv.yetiairlines.com/yetiResv/faces/app/agent/j_security_check" />
      <FirstLoginUrl Link="http://resv.yetiairlines.com/yetiResv/faces/app/agent/searchFlight.jspx" />
      <SearchUrl Link="http://resv.yetiairlines.com/yetiResv/faces/app/agent/searchFlight.jspx" />
      <OwFarequoteUrl Link="http://resv.yetiairlines.com/yetiResv/faces/app/agent/searchFlight.jspx?_afPfm=2" />
      <RtFarequoteUrl Link="http://resv.yetiairlines.com/yetiResv/faces/app/agent/searchFlight.jspx?_afPfm=1" />
    </yetiAirlines>
  </domesticflights>
  
  
  
  <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Abacus Setting Begin @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
  <!-- Production mode url as given in test application-->
  <!--<AbacusAuth UserName="7971" PassWord="ticket123" PCC ="P5PD" URL ="https://sws-crt.cert.sabre.com" ServiceType="Copy" Environment="DEV"/>-->

  <!-- Test mode url as given in test application-->
  <AbacusAuth UserName="7971" PassWord="ticket13" PCC="P5PD" URL="https://sws-sts.cert.sabre.com" ServiceType="Copy" Environment="DEV" />
  <!--<AbacusAuth UserName="7971" PassWord="apr7788" PCC ="P5PD" URL ="https://webservices.sabre.com/websvc" ServiceType="Prod" Environment="LIVE"/>-->
  <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Abacus Setting End @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->

  <TaskShedulerConfiguration UserName="suraj.malla@arihant" Password="orange@777" />
  
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="Data Source=Localhost;Initial Catalog=TravelPortal_Data_V2.0.0.0_FULL_08282012_190141;User ID=sa;Password=sandman;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="EntityModel" connectionString="metadata=res://*/EntityDataModel.csdl|res://*/EntityDataModel.ssdl|res://*/EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=Localhost;Initial Catalog=TravelPortal_Data_V2.0.0.0_FULL_08282012_190141;User ID=sa;Password=sandman;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntityModel_Logs" connectionString="metadata=res://*/EntityDataModel_Logs.csdl|res://*/EntityDataModel_Logs.ssdl|res://*/EntityDataModel_Logs.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Localhost;initial catalog=TravelPortal_Log;user id=sa;password=sandman;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <add name="ApplicationServices" connectionString="Data Source=Localhost;Initial Catalog=TravelPortal_Data_Live;User ID=sa;Password=sandman;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="EntityModel" connectionString="metadata=res://*/EntityDataModel.csdl|res://*/EntityDataModel.ssdl|res://*/EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=Localhost;Initial Catalog=TravelPortal_Data_Live;User ID=sa;Password=sandman;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntityModel_Logs" connectionString="metadata=res://*/EntityDataModel_Logs.csdl|res://*/EntityDataModel_Logs.ssdl|res://*/EntityDataModel_Logs.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Localhost;initial catalog=TravelPortal_Log;user id=sa;password=sandman;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="MaxPhotoSizeToUpload" value="1879394" />
    <add key="ThumbnailSize" value="110,90" />
    <add key="DateFormat" value="dd MMM yyyy" />
    <add key="smtpserver" value="10.0.0.20" />
    <add key="smtpport" value="25" />
    <add key="smtpusername" value="noreply@arihanttech.com" />
    <add key="smtppassword" value="123" />
    <add key="SMSUplodeLocation" value="~/Areas/MobileRechargeCard/Uploaded/" />
    <add key="PaperFareUpPath" value="D:\Upload\Paperfare\" />
    <add key="TboHotelUserName" value="arihant" />
    <add key="TboHotelPWD" value="travel123" />
    <add key="ReservationEmail" value="hem.bhatt@arihanttech.com" />
    <add key="OfflineTicketsPath" value="\\10.0.0.2\Public\Offline-eTickets" />
    <add key="ContentImageURL" value="http://10.0.2.50:8888/content/" />
    <add key="ImageRoot" value="\\10.0.2.50\upload\content" />
    <add key="FilesRoot" value="\\10.0.2.50\upload\content" />
    <add key="PackageImageRootPath" value="\\10.0.2.50\upload\content\package" />
    <add key="PackageImageRootURL" value="http://10.0.2.50:8888/content/package" />
    <add key="PackageThumbnailHight" value="100" />
    <add key="PackageThumbnailWidth" value="135" />
    <add key="SMSURL" value="http://sms1.arihantholidays.com/Home/SendSms/" />
    <add key="BusDiscount" value="10" />
    <add key="ApplicationName" value="Holidays" />
    <add key="AirArabiaExeLocation" value="D:\arabia-emailer\AirArabiaEmailer.exe" />
    <add key="BusOperatorLogoPath" value="\\10.0.4.40\Upload\contents\OperatorLogo\" />
    <add key="BusOperatorLogoUrl" value="http://10.0.4.40:9999/contents/OperatorLogo/" />
    <add key="LoginPageUrlLive" value="https://agent.arihantholidays.com/" />
    <add key="yetiapiurl" value="http://10.0.4.45/" />
    <add key="ArihantBusApiCustomerCode" value="1001" />
    <add key="ArihantBusApiUserName" value="hem.api" />
    <add key="ArihantBusApiPassword" value="hem@bhatt" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
  </appSettings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="Holidays" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="Holidays" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="Holidays" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="Holidays" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="ATLTravelPortal.Helpers.Pagination" />
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>

  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />

  </system.webServer>
  <!--TBO Setting starts-->
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BookingAPISoap" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="655360000" maxBufferSize="655360000" maxReceivedMessageSize="655360000" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="655360000" maxArrayLength="655360000" maxBytesPerRead="655360000" maxNameTableCharCount="655360000" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="HotelBookingAPISoap" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="655360000" maxBufferSize="655360000" maxReceivedMessageSize="655360000" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="65536" maxArrayLength="65536" maxBytesPerRead="65536" maxNameTableCharCount="65536" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="HotelServicesImplServiceSoapBinding" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="655360000" maxBufferSize="655360000" maxReceivedMessageSize="655360000" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="sslbinding">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IBusApi" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://api.tektravels.com/tboapi_v6/service.asmx" binding="basicHttpBinding" bindingConfiguration="BookingAPISoap" contract="TBOServiceReference.BookingAPISoap" name="BookingAPISoap" />
      <endpoint address="http://api.tektravels.com/tbohotelapi_v5/HotelService.asmx" binding="basicHttpBinding" bindingConfiguration="HotelBookingAPISoap" contract="TBOAPI.HotelBookingAPISoap" name="HotelBookingAPISoap" />
      <endpoint address="http://api.ean.com/ean-services/ws/hotel/v3" binding="basicHttpBinding" bindingConfiguration="HotelServicesImplServiceSoapBinding" contract="ExpediaAPI.HotelServices" name="HotelServicesImplPort" />
      <endpoint address="https://book.api.ean.com/ean-services/ws/hotel/v3" binding="basicHttpBinding" bindingConfiguration="sslbinding" contract="ExpediaAPI.HotelServices" name="HotelReservationImplPort" />
      <endpoint address="http://10.0.4.37:1001/BusApi.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBusApi" contract="BusApi.IBusApi" name="BasicHttpBinding_IBusApi" />
    </client>
  </system.serviceModel>

  <!--TBO Setting ends-->
  <runtime>
    <gcServer enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

